body{
    width: 100%;
    background: #0A0914;
}
.wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    
  
}
.container {
    max-width: 1200px;
    margin: 0 auto;
   
    
}
.line{
    display: block;
    background: #333143;
    max-width: 1592px;
    border: 1px solid #4C4A5F;
    margin: 62px auto;
}
// * {
//     outline: solid red;
//  }

