
.header {
      background:  #07080F;
      padding: 0 10px;
      border-bottom: 1px solid#808080;
      position: fixed;
      z-index: 3;
      width: 100%;
      &__body {
            padding: 22px 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            
      }

      // .header__logo

      &__logo {
            display: flex;
            color: #fff;
            align-items: center;
      }

      // .header__menu

      &__menu {
            flex-wrap: wrap;
            color: #AEAEAE;
            flex: 0 1 60%;
            margin: 0 5px;
            font-family: "axiforma";
            &:last-child{
                  margin: 0;
            }
      }

      // .header__social

      &__social {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex: 0 1 15%;
            flex-wrap: nowrap;
      }

      // .header__lang

      &__lang {
            margin: 0 5px;
            color: #fff;
            font-family: 'Axiforma-Light';
      }

      // .header__userIcon

      &__userIcon {}
     
}

.logo {

      // .logo__img

      &__img {}

      // .logo__title

      &__title {
            margin-left: 8.5px;
            font-size: 18px;
            font-family: 'adineue PRO';

            a {
                  color: #fff;
            }
      }
}

.menu {

      // .menu__ul

      &__ul {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-family: 'Axiforma-Light';

            a {
                  color: #fff;

            }
      }

      // .menu__li

      &__li {
            margin: 0 5px;
            &:first-child{
                  margin-left: 10%;
            }
            span {
                  color: #21D4FD;

            }
      }

}

.social {

      

      &__icon {
            margin: 5px;


      }
}

