.mainblock {
    font-family: 'adineue PRO';
    background: url(../img/mainblock/bg.png);
    background-blend-mode: color-dodge;
    color: #fff;
    position: relative;
    
    &::after{
    content: "";
    height: 827px;
    width: 100%;
    background: url("../img/mainblock/astronaut.png") no-repeat center center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: contain;
    }
    &::before{
        content: "";
        height: 450px;
        width: 100%;
        background: linear-gradient(180deg, rgba(10, 9, 20, 0) 0%, #0A0914 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-size: contain;
        }
    
    &__blur {
        position: absolute;
        width: 621px;
        height: 621px;
        
    }
    
    .blur-right {
        background: #25d6fd;
        top: 10%;
        right: 30%;
        z-index: 1;
       transform: translateX(100%);
       filter: blur(200px);
    }
    .blur-left {
        background: rgba(228, 14, 207, 0.53);
        top: 10%;
        left: 30%;
        z-index: 1;
       transform: translateX(-100%);
       filter: blur(200px);
    }
    

		// .mainblock__cube

	&__cube {
        position: absolute;
        
	}

    .cube-right {
        top: 45%;
        right: 12%;
        transform: translate(100%,-100%);
        width: 508.14px;
        height: 451.4px;
        background: url(../img/mainblock/squareblurblue.png) no-repeat center center;
        z-index: 2;
        background-size: contain;
    }
    .cube-left {
        top: 30%;
        left: 10%;
        transform: translate(-100%,-100%);
        width: 413.99px;
        height: 370.08px;
        background: url(../img/mainblock/squareblurpink.png) no-repeat center center;
        z-index: 2;
        background-size: contain;
    }
    .cube-1{
        top: 20%;
        right: 14%;
        transform: translate(100%,100%);
        width: 316.57px;
        height: 281.21px;
        background: url(../img/mainblock/1.png) no-repeat center center;
        z-index: 1;
        background-size: contain;
        
    }
    .cube-2{
        top: 18%;
        right: 47%;
        transform: translate(50%,-50%);
        width: 196px;
        height: 175px;
        background: url(../img/mainblock/2.png) no-repeat center center;
        z-index: 2;
        background-size: contain; 
    }
    .cube-3{
        top: 45%;
        right: 47%;
        transform: translate(50%,-50%);
        width: 321.09px;
        height: 280.65px;
        background: url(../img/mainblock/3.png) no-repeat center center;
        z-index: 2;
        background-size: contain; 
        mix-blend-mode: screen;
    }
    .cube-4{
        top: 15%;
        right: 20%;
        transform: translate(50%,-50%);
        width: 108.06px;
        height: 95.99px;
        background: url(../img/mainblock/4.png) no-repeat center center;
        z-index: 2;
        background-size: contain; 
    }
    .cube-5{
        bottom: 20%;
        left: 2%;
        transform: translate(-50%,50%);
        width: 196px;
        height: 175px;
        background: url(../img/mainblock/5.png) no-repeat center center;
        z-index: 2;
        background-size: contain; 
    }
    .cube-6{
        bottom: 55%;
        left: 16%;
        transform: translate(-50%,50%);
        width: 109.89px;
        height: 97.62px;
        background: url(../img/mainblock/6.png) no-repeat center center;
        z-index: 2;
        background-size: contain; 
    }
    .cube-7{
        bottom: 60%;
        left: 5%;
        transform: translate(-50%,50%);
        width: 82.19px;
        height: 73.38px;
        background: url(../img/mainblock/7.png) no-repeat center center;
        z-index: 2;
        background-size: contain; 
    }
    .cube-8{
        bottom: 56%;
        left: 40%;
        transform: translate(-50%,50%);
        width: 77.92px;
        height: 69.8px;
        background: url(../img/mainblock/8.png) no-repeat center center;
        z-index: 1;
        background-size: contain; 
    }
    &__body {
        display: flex;
        flex-direction: column;
        max-width: 623px;
        z-index:2;
    }

    // .mainblock__title

    &__title {
        font-size: 79px;
        z-index:2;
        margin-top: 150px;
    }

    // .mainblock__subtitle

    &__subtitle {
        font-size: 79px;
        background: linear-gradient(350.71deg, #21D4FD 20.56%, #E40ECF 70.92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
           
            z-index:2;   
    }

    // .mainblock__button

    &__button {
       max-width: 246px;
       padding: 15px 0;
       z-index:2;
       margin: 48px 0 220px 0;
       background: linear-gradient(262.17deg, #21D4FD -9.98%, #E40ECF 62.2%);
       color: #fff;
       border-radius: 7px;
    }

    // .mainblock__text

    &__text {
        font-weight: 700;
        font-size: 41px;
        line-height: 55px;
        z-index:2;
        margin-bottom: 65px;
    }


}
