.subscribe {
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 3%;
        transform: translate(-50%, -50%);
        width: 294.24px;
        height: 262.71px;
        background: url(../img/subscribe/2.png) no-repeat center center;
        background-size: contain;
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        top: 10%;
        right: 3%;
        transform: translate(50%, -50%);
        width: 569.48px;
        height: 505.88px;
        background: url(../img/subscribe/1.png) no-repeat center center;
        background-size: contain;
        z-index: 1;
        
    }
    background: #0A0914;
    color: #fff;
    &__body {
        margin-top: 50px;
        margin-bottom: 98px;
       display: flex;
       flex-direction: column;
    }

    // .subscribe__title

    &__title {
        font-family: "adineue PRO";
        font-size: 142px;
        line-height: 148px;
        font-weight: 700;
        background:linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index:2;
    }

    // .subscribe__form-body

    &__form-body {
        margin-top: 120px;
        padding: 40px 40px;
        background: linear-gradient(180deg, rgba(7, 196, 239, 0.61) 0%, rgba(7, 196, 239, 0.25) 100%);
        opacity: 0.59;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1199px;
        max-height: 182px;
        z-index:1;
    }

    // .subscribe__input

    &__input {
        font-family: "adineue PRO";
        width: 808px;
        height: 63px;
        border: 1px solid #21D4FD;
        border-radius: 8px;
        padding: 13px 33px;
        color: #fff;
        background: linear-gradient(180deg, rgba(7, 196, 239, 0.61) 0%, rgba(7, 196, 239, 0.25) 100%);
        font-size: 16px;
        &::placeholder{
            color: #fff;
        }
        margin-right: 5px;
    }

    // .subscribe__button

    &__button {
        width: 247px;
        border-radius: 8px;
        background: #21D4FD;
        padding: 20px 0;
        color: #fff;
    }
}
